<style type="text/css">
	body{
		background-color: #fffffd;
	}
	a{
		text-decoration: none;
		color: #522a06;
	}
	a:hover{
		text-decoration: underline;
	}
		#header{
			width: 1000px;
			height: 300px;
			margin: 0 auto;
		}
		div.banner{
			background-image: url(images/banner.png);
			width: 1000px;
			height: 300px;
			margin: 0 auto;
			float: none;
		}
		}
		div.nav{
			width: 1000px;
			height: 25px;
			position: relative;
			text-align: center;
			margin: 0;
		}
		li.nav{
			display: inline-block;
			padding: 10px;
			float: left;
			position: relative;
			top: 10px;
		}
		.img{
			display: inline-block;
			float: left;
		}
		a.nav{
			text-decoration: none;
		}
		a.nav:hover{
			color: #522a06;
			font-size: 18px;
		}
		#content{
			width: 1000px;
			margin: 0 auto;
		}
		div.mianbaoxie{
			font-size: 15px;
		}
		a.mianbaoxie{
			color: #83c75d;
		}
		div.content_1{
			height: 200px;
			width: 1000px;
			margin: 10px;
		}
		div.content_1_left{
			float: left;
			width: 320px;
			height:200px;
		}
		div.content_1_img{
			float: left; 
		}
		div.content_1_li{
			width: 320px;
		}
		li.dog{
			display: inline-block;
			font-size: 17px;
		}
		li.shugang{
			display: inline-block;
			font-size: 17px;
			color: gray;
		}
		ul.content_1_left{
			margin: 0;
		}
		div.content_1_right{
			height: 200px;
			float: left;
		}
		div.content_1_1{
			width: 265px;
			height: 200px;
			margin-left: 10px;
			background-image: url(images/look.jpg);
			float: left;

		}
		input.sousuo{
			color: white;
			background-color: black;
		}
		div.dogimg{
			float: left;
			width: 200px;
			height: 136px;
			position: relative;
			top: 40px;
			left: 25px;
		}
		div.dogname{
			width:30px;
			height: 200px;
			margin: 10px;
			font-size: 20px;
			color: #bd6b09; 
			font-weight: 600;
			float: left;
			position: relative;
			top: 20px;
			left: 5px;
		}
		div.jiantou{
			float: left;
			width: 50px;
			height: 200px;
			position: relative;
			top: 80px;	
			margin-left: 10px; 		
		}
		div.dogmore{
			width: 6px;
			height: 200px;
			margin-left: 20px; 
			float: left;
			opacity: 0.5;
		}
		div.dogmore:hover{
			opacity: 1;
		}
		div.more{
			height: 200px;
			float: left;
		}
		span.limore{
			float: right;
			font-size: 12px;
		}
		a.limore{
			color: gray;

		}
		        #footer{
            width: 1000px;
            height: 200px;
            border-top: 1px solid gray;
            background-image: url(images/footer.jpeg);
            clear: both;
            margin: 0 auto;
        }
        p.footer{
            text-align: center;
            line-height: 30px;
        }
        ul.footer{
            line-height: 30px;
            list-style: none;
            color: gray;
        }
        li.foot_1{
            font-size: 25px;
        }
        div.footer_li{
            margin: 20px;
            width: 200px;
            height: 150px;
            float: left;
        }
        div.footer_xinxi{
            width: 400px;
            height: 150px;
            float: left;
            margin: 20px;
        }
        p.ads{
            text-align: center;
            line-height: 30px;
        }
        p.owner{
            text-align: center;
            line-height: 30px;
        }
		</style>