<style type="text/css">
	*{
		margin:0;
		padding: 0;
		border: 0;
	}
	ul,ol,li{
		list-style: none;
	}
	body{
		background-color: #fffffd;
	}
	a{
		text-decoration: none;
		color: #522a06;
	}
	a:hover{
		text-decoration: underline;
	}
		#header{
			width: 1000px;
			height: 300px;
			margin: 0 auto;
		}
		div.banner{
			background-image: url(images/banner.png);
			width: 1000px;
			height: 300px;
			margin: 0 auto;
			float: none;
		}
		}
		div.nav{
			width: 1000px;
			height: 25px;
			position: relative;
			text-align: center;
			margin: 0;
		}
		li.nav{
			display: inline-block;
			padding: 10px;
			float: left;
			position: relative;
			top: 10px;
		}
		.img{
			display: inline-block;
			float: left;
		}
		a.nav{
			text-decoration: none;
		}
		a.nav:hover{
			color: #522a06;
			font-size: 18px;
		}
		#content{
			width: 1000px;
			margin: 0 auto;
		}
		div.mianbaoxie{
			font-size: 15px;
		}
		a.mianbaoxie{
			color: #83c75d;
		}
		div.content_left{
			width: 740px;
			height: 650px;
			border: 1px ridge gray;
			margin-top: 10px; 
			float: left;
		}
		div.content_right{
			width: 250px;
			height: 650px;
			border-right: 1px ridge gray;
			border-top: 1px ridge gray;
			border-bottom:1px ridge gray;  
			margin-top: 10px; 
			float: left;
			background-color: #ececec;

		}
		div.content_left_1{
			width: 350px;
			height: 700px;
			text-align: center;
			float: left;
		}
		div.dogname{
			width: 350px;
			height: 50px;
			color: #367517;
			font: 600 30px '黑体';
			margin-top: 10px;
		}
		div.dogimg{
			width: 310px;
			height: 320px;
			border: 10px ridge #ececec;
			text-align: center;
			margin-bottom: 10px; 
			padding: 10px;
		}
		div.changliao{
			width: 250px;
			height: 57px;
			background-image: url(images/changliao_bg.png);
			margin: 0 auto;
		}
		span.changliao{
			color: white;
			font-size: 22px;
			position: relative;
			top: 16px;
		}
		a.changliao{
			color: white;
		}
		a.changliao:hover{
		    font-size: 25px;
		    text-decoration: none;
		}
		div.xszs{
			width: 350px;
			height: 300px;
			margin: 0 auto;
		}
		div.xszs_title{
			width: 50px;
			height: 200px;
			font-size: 30px;
			text-align: center;
			background-color: #f1f1f1;
			color: #b7b7b7;
			float: left;
		}
		div.xszs_li{
			width: 300px;
			height: 200px;
			color: gray;
			float: left;
			font-size: 15px;
			line-height: 28px;
			text-align: left;
			background-color: #ececec;
		}
		div.content_left_2{
			height: 650px;
			width: 350px;
			float: left;
			text-align: center;
		}
		div.jianjie{
			width: 300px;
			height: 350px;
			background-image: url(images/biankuang.jpg);
			margin: 0 auto;
		}
		div.tubiao{
			width: 350px;
			height: 50px;
		}
		span.jianjie{
			font:600 30px '黑体'; 
			position: relative;
			top: -5px;
		}
		p.xq1{
			width: 220px;
			position: relative;
			top: 40px;
			left: 65px;
			font-size: 14px;
		}
		p.xq2{
			width: 160px;
			position: relative;
			top: 25px;
			left: 115px;
			font-size: 14px;
		}
		span.more{
			text-align: right;
			font-size: 15px;
		}
		a.more{
			color: gray;
		}
		div.xxtz{
			width: 350px;
			height: 25px;
			background-color: #f1f1f1;
			margin: 15px;
		}
		span.xq{
			font: 600 20px '黑体';
			color: #9c9c9c;
		}
		div.list{
			width: 350px;
			line-height: 25px;
			color: gray;
			font-size: 15px;
		}
		li.list{
			list-style: none;
			border-bottom:0.1em dashed gray;
			text-align: left; 
		}
		div.jbtz{
			width: 250px;
			float: left;
		}
		ul.jbtz{
			width: 200px;
			text-align: left;
		}
		li.jbtz_title{
			font: 500 22px '黑体';
			line-height: 35px;
			border-bottom:1px dashed gray;
			list-style: none; 
		}
		li.jbtz{
			border-bottom:0.1em dashed gray;
			font-size: 18px;
			line-height: 30px;
			list-style: none;
		}
		div.tupian{
			width: 235px;
			margin: 0 auto;
			text-align: center;
		}
		        #footer{
            width: 1000px;
            height: 200px;
            border-top: 1px solid gray;
            background-image: url(images/footer.jpeg);
            clear: both;
            margin: 0 auto;
        }
        p.footer{
            text-align: center;
            line-height: 30px;
        }
        ul.footer{
            line-height: 30px;
            list-style: none;
            color: gray;
        }
        li.foot_1{
            font-size: 25px;
        }
        div.footer_li{
            margin: 20px;
            width: 200px;
            height: 150px;
            float: left;
        }
        div.footer_xinxi{
            width: 400px;
            height: 150px;
            float: left;
            margin: 20px;
        }
        p.ads{
            text-align: center;
            line-height: 30px;
        }
        p.owner{
            text-align: center;
            line-height: 30px;
        }
	</style>